{% extends "main.html" %}
{% block head %}
	<!-- Add custom title, meta description and CSS styling (specific to this page) to the head of generated HTML page -->
	<title>Hunt Without Hassle</title>
	<meta name="description" content="Provides hunters with access to public, private and guided hunting land for daily use, and helping landowners increase revenue on their farms, ranches and hunting land">
	<style>.jumbotron .container{position:relative;padding:55px}.jumbotron h1{font-weight:700;color:#ebebeb;font-size:52px;text-shadow:-1px -1px 1px #000,1px -1px 1px #000,-1px 1px 1px #000,1px 1px 1px #000}.jumbotron h4{font-weight:700;color:#ebebeb;font-size:22px;text-shadow:-1px -1px 1px #000,1px -1px 1px #000,-1px 1px 1px #000,1px 1px 1px #000}.jumbotron{background-size:cover;background-repeat:no-repeat;background-position:0 10%;margin-bottom:0;padding-bottom:70px}.jumbotron .btn{background-color:#fc7118;font-weight:700;padding-left:25px;padding-right:25px;border-width:0;font-size:18px}.jumbotron .btn:hover{background-color:#fc9902}@media (max-width:767px){.jumbotron h1{font-size:36px}h1{margin-top:10px}.jumbotron{padding:0}.jumbotron .container{padding:30px}.jumbotron h3{font-size:18px}}.prop{margin:0}</style>
{% endblock %}
{% block content %}
	<!-- Display the Jumbotron with an awesome image -->
	<style>.jumbotron{background-image:url({{ url_for('static', filename='Flying-Geese.jpg') }})}</style>
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<h1>Find Private, Public and Guided Land to Hunt</h1>
				<h4>Find the perfect land for your next hunt</h4>
			</div>
		</div>
	</div>

	<!-- Show off some bragging rights -->
	<div class="featured-media">
		<div class="row">
			<p>Featured In</p>
		</div>
		<div class="row">
			<a href="http://www.forbes.com/sites/steveolenski/2016/01/14/how-a-business-can-rely-on-user-generated-content/" target="_blank"><img src="{{url_for('static',filename='forbes_media_logo.png')}}" /></a>
			<a href="http://www.huffingtonpost.com/michael-carpenter/earn-more-money-in-2016-by-renting_b_8917356.html" target="_blank"><img src="{{url_for('static',filename='Huffington_Post_Logo.png')}}" /></a>
			<a href="http://huntingmagazine.net/land-to-hunt-llc-makes-booking-private-hunting-lands-fast-and-easy/" target="_blank"><img src="{{url_for('static',filename='Hunting_Magazine_Logo.png')}}" /></a>
		</div>
	</div>


	<!-- Show the properties -->
	<div class="steps3">
		<div class="container">
			<div class="row">
				<h2>Available Properties</h2>
				<hr>
				<!-- Allow the viewer to select which category they want to see -->
				<div class="col-md-4">
					<a class="btn btn-default btn-block" href="{{ url_for('showHome') }}" role="button">All</a>
					<a class="btn btn-default btn-block" href="{{ url_for('showHome', category = 'Private') }}" role="button">Private</a>
					<a class="btn btn-default btn-block" href="{{ url_for('showHome', category = 'Public') }}" role="button">Public</a>
					<a class="btn btn-default btn-block" href="{{ url_for('showHome', category = 'Guided') }}" role="button">Guided</a>
					<a class="btn btn-default btn-block" href="{{ url_for('showHome', category = 'SemiGuided') }}" role="button">SemiGuided</a>
					<a class="btn btn-default btn-block" href="{{ url_for('showHome', category = 'Lease') }}" role="button">Lease</a>
				</div>

				<!-- Show all of the properties in their selected category -->
				<div class="col-md-8">
					<!-- If there is a category selected, display the category description -->
					{% if cat is not none %}
					<h3>{{cat.cRentType}}</h3>
					<p>{{cat.cDescription}}</p>
					{% endif %}
					<hr />
					<!-- If there are no properties in the category, then there should be a message "No available properties in that category" -->
					{% if properties %}
						<!-- Loop through all of the properties, and display important details -->
						{% for prop in properties %}
							<a href="{{ url_for('viewProperty', pID = prop.pID) }}">
								<h3 class="prop">{{prop.pTitle}}</h3>
								<p>{{prop.pCity}}, {{prop.pState}}</p>
								<h3 class="prop">{{prop.pAcres}} Acres at ${{prop.pPrice}}</h3>
								<p>{{prop.pRentType}}</p>
							</a>
							<!-- To make sure only properties the user owns have 'Edit' and 'Delete' buttons next to them -->
							{% if g.current_user.email == prop.userEmail %}
								<a class="btn btn-default btn-orange" href="{{ url_for('editProperty', pID = prop.pID) }}">Edit</a>
								<a class="btn btn-default btn-grey" href="{{ url_for('deleteProperty', pID = prop.pID) }}">Delete</a>
							{% endif %}
							<hr />
						{% endfor %}
					{% else %}
						<h3>No available properties in that category</h3>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}